@import "../../app/variables.scss";

.navbar__links {
    display:flex;
    justify-content: space-between;
    min-width:40%;
    @media (max-width: 855px) {
        min-width:47%;
    }


}

.navbar__links__footer{
    @media (max-width:$maxMobile) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color:white;
        min-height: 106px;
        margin-top: 32px;
    }
}

.hideLinks{
    @media (max-width:$maxMobile) {
        display:none;
    }
}