@import '../../app/globals.scss';

.navbar {
    position: relative;
    display:flex;
    justify-content: space-between;
    height:24px;
    width:100%;

    .hideOnMobile {
        @media (max-width:$maxMobile) {
            display: none;
        }
    }
}

.center-image {
    @media (max-width:$maxMobile) {
        justify-content: center !important;
    }
}


.navbar__links {
    display:flex;
    justify-content: space-between;
    min-width:50%;
} 


.darkLinks{
    @include smallFont($darkGrey);
}


.brightLinks{
    @include smallFont($white);
}

