@import "../../app/variables.scss";

#contact-page {
    background: url("/bg-pattern-leaf.jpg");
   

    padding: 0px 164px 0px 165px;

    @media (max-width: $maxTablet) {
        padding: 0px 40px 0px 39px;
    }

    @media (max-width: $maxMobile) {
        padding: 0px;
    }
}