@import "../../app/variables.scss";

#contact-page {
    background: url("/bg-pattern-leaf.jpg");
   

    padding: 0px 164px 0px 165px;

    @media (max-width: $maxTablet) {
        padding: 0px 40px 0px 39px;
    }

    @media (max-width: $maxMobile) {
        padding: 0px;
    }
}

//overwrite the footer settings from the component when he goes to contact route
.footer {
    height:337px;
    padding: 72px 165px; 

    @media (max-width: $maxTablet) {
        padding: 80px 39px;
    }

    @media (max-width: $maxMobile) {
        height:626px;
        padding: 64px 24px;
    }
}

