@import "./../../app/variables.scss";

$widthOnTablet: 83.16%;

.contact-us-box {
    border:2px solid black;
    background: $peach url('/bg-pattern-hero-desktop.svg') no-repeat left -160px; 
    display: flex;
    justify-content: space-between;
    height:480px;
    border-radius: $borderRadius;
    position: relative;
    
    &__text-box {
        width: 40.05%;
        margin: 135px 8.55% 161px 8.55%;

        @media (max-width: $maxTablet) {
            margin: 71px auto 40px;
            width: $widthOnTablet;
            height:158px;
        }
        
        @media (max-width: $maxMobile) {
            text-align: center;
        }

        h1 {
            margin-bottom: 32px;
            @include normalHeading($white,48px);
        }

        p {
            @include normalFont($white);
             
        }
    }

    &__form {
        margin: 0px 96px 54px 0px; 
        width: 34.2%;

        @media (max-width: $maxTablet) {
            margin: 0px auto;
            width: $widthOnTablet;
            margin-bottom: 35px;
        }



    }

    @media (max-width: $maxTablet) {
        flex-direction: column;
        height:711px;
    }



}