@import "./../../app/variables.scss";

$widthOnTablet: 83.16%;

.contact-us-box {
    color:white;
    border:2px solid black;
    background: $peach url('/bg-pattern-hero-desktop.svg') no-repeat left -160px; 
    display: flex;
    justify-content: space-between;
    height:480px;
    border-radius: $borderRadius;
    position: relative;
    
    &__text-box {
        height:184px;
        width: 40.05%;
        margin: 135px 95px 161px 95px;

        @media (max-width: $maxTablet) {
            margin: 71px auto 0px;
            width: $widthOnTablet;
            height:158px;
        }
        
        @media (max-width: $maxMobile) {
            text-align: center;
        }

        h1 {
            margin-bottom: 32px;
            @include 
        }

        p {
             
        }
    }

    &__form {
        margin: 55px 96px 54px 0px; 
        width: 34.2%;

        @media (max-width: $maxTablet) {
            margin: 40px auto auto;
            width: $widthOnTablet;
        }

    }

    @media (max-width: $maxTablet) {
        flex-direction: column;
        height:711px;
    }



}