@import "./../../app/variables.scss";

.contact-us-box {
    color:white;
    border:2px solid black;
    background: $peach url('/bg-pattern-hero-desktop.svg') no-repeat left -160px; 
    display: flex;
    justify-content: space-between;
    height:480px;
    border-radius: $borderRadius;
    position: relative;
    
    &__text-box {
        height:184px;
        width: 40.05%;
        margin: 135px 95px 161px 95px;

        h1 {
            margin-bottom: 32px;
        }

        p {
            
        }
    }

    &__form {
        margin: 55px 96px 54px 0px; 
        width: 34.2%;
            form{
            display: flex;
            flex-direction: column;
            
            width:100%;

            .form__group:not(:first-of-type) {
                margin-top:25px;
              }

            .form__group {
                position: relative;

                input, textarea {
                    border: none;
                    background: $peach;
                    border-bottom: 1px solid white;
                    height: 40px;
                    padding-left: 16px;
                    padding-bottom: 11px;
                    color: $white;
                    width:100%;
                    resize: none;

                    &:focus {
                        outline: none;
                        border:none;
                        border-bottom: 1px solid white;
                    }
                }

                textarea{
                    height: 102px;
                }
    
                input::placeholder, textarea::placeholder {
                    color:$white;
                    font-family: Jost;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px; 
                    opacity: 0.5;
                }
    
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px $peach inset;
                -webkit-text-fill-color: $white;
                transition: background-color 5000s ease-in-out 0s;
                }
            }
        

            button {
                margin-left: auto;
                margin-top: 24px;

            }
        }
    }
}