@import "../../app/variables.scss";

.service-boxes{
     display: flex;
     justify-content: space-between;
     position: relative;
     margin-bottom: 160px;

    &__container{
         display: inherit;
         justify-content: inherit;
         flex-direction: column;
         width: 48.56%;
         @media (max-width:$maxTablet) {
            width: 100%;
            div:first-of-type{
                margin-bottom: 25px;
            }
        }
    }

    @media (max-width:$maxTablet) {
        flex-direction: column;
        height:650px;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    @media (max-width:$maxMobile) {
        height:800px;
        margin-bottom: 120px;
    }

}