@import "../../app/variables.scss";

.top-box {
    //padding: 145px 95px 0px 95px;

    height:640px;
    display: flex;
    justify-content: space-between;
    position:relative;

    background-color: $peach;
    border-radius: $borderRadius;
    margin-bottom: 160px;
    overflow: hidden;
    background-image: url("/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: 120%;
    

    div {
        width: 100%;
        height:100%;
        border: 2px solid black;

        background-image: url("/image-hero-phone-old.png");
        background-repeat: no-repeat;
        background-position: 120% -40px;


    }

   

    @media(max-width: $maxTablet ) {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        height: 843px;
    }
}




