@import "../../app/variables.scss";

.top-box {
    height:640px;
    display: flex;
    justify-content: space-between;
    position:relative;
    border-radius: $borderRadius;
    margin-bottom: 160px;
    overflow: hidden;
    position: relative;
    background: $peach url("/bg-pattern-hero-home.svg") no-repeat 120% ;

    div {
        width: 100%;
        height:100%;
        position: inherit;
        background: url("/image-hero-phone-old.png") no-repeat 120% -40px; ;
        padding: 130px 0 0 40px;



        h1{
            max-width: 450px;
            @include normalHeading($white);
            margin-bottom: 11px;
            @media  (max-width:$maxTablet), (max-width:$maxMobile) { 
                margin: 0px auto 8px auto;
                text-align: center;
            }

            @media  (max-width:$maxMobile) { 
                @include biggerFont($white);
                margin-bottom: 14px;
            }
        }

        p{
            @include normalFont($white);
            max-width: 445px;
            margin-bottom: 40px;

            @media  (max-width:$maxTablet), (max-width:$maxMobile)  { 
                margin:  0px auto 19px auto;
                text-align: center;
            }

            @media  (max-width:$maxMobile) { 
                margin: 0px auto 8px auto;
                @include normalFont($white);
                margin-bottom: 24px;
            }
        }

        @media (max-width: 1184px) and (min-width:$maxTablet) {
            background-position: 170% -40px;
        }

        @media  (max-width:$maxTablet) {
            padding-top: 0px;
            padding-left: 0px;
            background-position: 50% -190%;
            text-align: center;
        }

        @media  (max-width:$maxTablet) {
            padding-top: 0px;
            padding-left: 0px;
            background-position: 50% -160%;
            text-align: center;
        }

    }

    @media(max-width: $maxTablet ) {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 843px;
    }

    @media(max-width: $maxMobile ) { 
        padding-top:80px;
        border-radius: 0;
    }
}




