//==== colors ======
$peach: #E7816B;
$black:#1D1C1E;
$white:#ffffff;

$lightPeach: #FFAD9B;
$darkGrey: #333136;
$lightGrey: #F1F3F5;

//========= box-radius ========

$borderRadius: 15px;


//===== sizes ==========

$minDesktop: 1140px;
$maxTablet: ($minDesktop - 1px);
$minTablet: 768px;
$maxMobile: ($minTablet - 1px); 
$minMobile: 375px;

$footerHeightDesktop: 393px;

//===== fonts ==========

@mixin smallFont ($color:black) {
    color: $color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: 2px;
    }

@mixin normalFont ($color:black) {
    color: $color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    }

  @mixin burgerMenuEntries ($color:black) {
  color: $color;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 104.167% */
  letter-spacing: 2px;
  }


    @mixin biggerFont ($color:black) {
      color: $color;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; 
      }

    //============== heading ================


  @mixin normalHeading ($color:black) {
    color: $color;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing:2px;
  }
  
  
    

