@import "../../app/variables.scss";

.contact-box {
    width: 47.94%;
    

    @media (max-width: $maxMobile) {
        width:initial;
        text-align: center;       
        height: 78px;    
      }

}