@import "../../app/variables.scss";

.footer {
    height:$footerHeightDesktop;
    background-color: black;
    margin:0px;
    padding: 144px 165px 72px 165px;

    hr {
        margin-top: 40px;
        border-color: $darkGrey;
    }

    .hideOnBiggerThanMobile {
      display: none;

      @media (max-width: $maxMobile)  {
        display: initial;
      }
    }

    #addressSocialMedia {
        display: flex;
        height:78px;
        position:relative;
        justify-content: space-between;
        margin-top: 31px;
        @include normalFont(#818182);
        p{
            margin:0px;
        }

        @media (max-width: $maxMobile) {
            flex-direction: column;
            margin-top: 40px;            
          }

    }


    @media (max-width: $maxTablet) {
        padding: 166px 39px 80px 39px;
        height:423px;
      }

      @media (max-width: $maxTablet) {
        height:815px;
        padding: 253px 24px 64px 24px;
      }

}