@import "../../app/variables.scss";

#social-media-icons {
    width: 16.56%;
    height: 24px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: $maxTablet) {
        width: 26.67%;
      }
}